<div id="welcome">

<h1>Howdy Reader!</h1>

<p>
	This site is going to step you through some of my commits.  For the sourcecode of this Git-Stepping tool, called GitStepper, visit <%= link_to 'http://github.com/Sporky023/gitstepper', 'http://github.com/Sporky023/gitstepper' %>
</p>

<p>
	<%= link_to "Click here to being looking through my commits", :controller => "stepping", :action => "view_commit" %>
</p>


</div>